<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>HomePageViewController</string>
		<key>icon</key>
		<string>icon_tab_home_normal</string>
		<key>selectIcon</key>
		<string>icon_tab_home_pressed</string>
		<key>title</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ShopViewController</string>
		<key>icon</key>
		<string>icon_tab_store_normal</string>
		<key>selectIcon</key>
		<string>icon_tab_store_pressed</string>
		<key>title</key>
		<string>商场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ScanViewController</string>
		<key>icon</key>
		<string>icon_tab_scan_normal</string>
		<key>selectIcon</key>
		<string>icon_tab_scan_pressed</string>
		<key>title</key>
		<string>扫一扫</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MyViewController</string>
		<key>icon</key>
		<string>icon_tab_personal_normal</string>
		<key>selectIcon</key>
		<string>icon_tab_personal_pressed</string>
		<key>title</key>
		<string>我的</string>
	</dict>
</array>
</plist>
